<div class="row">
    <div class="col-md-4" *ngFor="let item of items" style="padding: 1em;">
        <mdb-card>
            <!--Card image-->
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap"></mdb-card-img>
            <!--Card content-->
            <mdb-card-body>
        
            <!--Title-->
            <mdb-card-title>
                <h4>{{item.name}} - {{item.id}}</h4>
            </mdb-card-title>
        
            <!--Text-->
            <mdb-card-text> {{item.price}}
            </mdb-card-text>
        
            <button href="#" (click)="addToCart(item)" mdbBtn color="primary" mdbWavesEffect>Add to Cart</button>
            </mdb-card-body>
        </mdb-card>
    </div>
</div> 